In [1]:
import pandas as pd

# See if I can
df = pd.read_csv('http://rhiever.github.io/baby-name-explorer/names/S/Sandra.txt')
df.head()

   year  Sandra (F)  Sandra (M)
0  1880         0.0         0.0
1  1881         0.0         0.0
2  1882         0.0         0.0
3  1883         0.0         0.0
4  1884         0.0         0.0

In [2]:
import time

names_lit = ["Angela", "Pamela", "Sandra", "Rita", "Monica", "Erica", "Tina", "Mary", "Jessica"]
names_ext = ['Erika', 'Monika']
names_tina = ['Christina', 'Christine', 'Kristina', 'Kristine']

def name_to_url(n):
    f_init=n[0]
    return "http://rhiever.github.io/baby-name-explorer/names/{}/{}.txt".format(f_init, n)

def get_df(n):
    url = name_to_url(n)
    return pd.read_csv(url)

tst = get_df(names_lit[2])

tst.dtypes

# Mappin
# urls = map(name_to_url, names_lit)

# List comprehension
# [print(x) for x in urls]

year            int64
Sandra (F)    float64
Sandra (M)    float64
dtype: object

In [3]:
#TODO: learn about notebooks and import retention
#import time

# Locally saves the data as text files within 'dest'
# Only needs to be run once
#def load_data(dest, ns):
#    for n in ns:
#        d = get_df(n)
#        with open("{}/{}.txt".format(dest, n), "w+") as file:
#            file.write(get_df(n).to_csv(float_format="%.6f"))
#        time.sleep(0.005)
#    return "data loaded"

#load_data("MamboNameData", names_lit)

In [4]:
#https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.join.html#pandas.DataFrame.join

def join_girls_only(n1, n2):
    #df.drop(df.columns[2])
    return n1.set_index("year").join(n2.set_index('year'))
    
foo = pd.read_csv("MamboNameData/Angela.txt")
bar = pd.read_csv("MamboNameData/Rita.txt")


#baz = foo.join(bar.set_index("year"))#join_girls_only(foo, bar)
#baz.head()

#TODO: Implement the below
# Takes a directory name
# Returns a df with female columns joined on year from all files

#def full_df(dest):
  #  for file in os.listdir(dest):
     #   if file.endswith(".txt"):
      #      pd.read_csv(file)
    # drop Male columns
    # df.drop(df.columns[2])
    
    # join
    # df.join(df2.set_index('year'), on='year')
   # return df.drop